# dependencies
node_modules/
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# production
/build

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# env files
.env*.local
.env

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts
.vercel
